body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

@media (min-width: 500px) {
    body {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (min-width: 1000px) {
    body {
        grid-template-columns: repeat(12, 1fr);
    }
}