* {
    box-sizing: border-box;
    font-family: Helvetica;
    color: #3A3A3A;
}

#barra_navegacion {
    grid-column: 1/-1;
    width: 100%;
    height: 12vw;

    background-color: #E9E5E1;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}


/* Logo de la barra de navegacion */

#contenedor_logo_barra_navegacion {
    order: 0;
    margin-left: 2%;
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#logo_barra_navegacion {
    width: 100%;
}

#contenedor_logo_barra_navegacion_desactivado {
    display: none;
}


/* Barra de busqueda */

#barra_busqueda {
    margin-left: 9%;
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#entrada_barra_busqueda {
    width: 80%;
    height: 55%;

    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 0px;

    border-style: solid;
    border-color: black;

    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#boton_barra_busqueda {
    width: 20%;
    height: 55%;
    
    border-width: 1px;
    border-style: solid;
    border-color: black;

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3vw;
}

#barra_busqueda_desactivado {
    display: none;
}


/* Boton para abrir la barra de busqueda */

#contenedor_boton_abrir_barra_busqueda {
    order: 2;
    width: 12%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#boton_abrir_barra_busqueda {
    height: 50%;
}

#contenedor_boton_abrir_barra_busqueda_desactivado {
    display: none;
}


/* Boton para cerrar la barra de busqueda */

#contenedor_boton_cerrar_barra_busqueda {
    margin-left: 2%;
    width: 10%;
    height: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
}

#boton_cerrar_barra_busqueda {
    height: 37%;
}

#contenedor_boton_cerrar_barra_busqueda_desactivado {
    display: none;
}


/* Categorias de la barra de navegacion */

#contenedor_categorias_barra_navegacion {
    position: absolute;
    top: 12vw;
    left: 100%;
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.categoria_barra_navegacion {
    padding: 3vw;
    font-size: 3vw;
}

.contenedor_categorias_barra_navegacion_abrir {
    transform: translateX(-100%);
    transition: transform 0.2s;
}

.contenedor_categorias_barra_navegacion_cerrar {
    transform: translateX(60%);
    transition: transform 0.2s;
}

#contenedor_categorias_barra_navegacion_desactivado {
    display: none;
}


/* Boton para abrir y cerrar las categorias de la barra de navegacion */

#contenedor_boton_abrir_cerrar_categorias_barra_navegacion {
    order: 3;
    width: 12%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton_abrir_cerrar_categorias_barra_navegacion {
    height: 50%;
}

#contenedor_boton_abrir_cerrar_categorias_barra_navegacion_desactivado {
    display: none;
}


/* Boton iniciar sesion */

#contenedor_boton_iniciar_sesion {
    order: 1;
    margin-left: 2%;
    width: 30%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton_iniciar_sesion {
    width: 70%;
    height: 55%;
    background-color: #8ECAE6;

    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3vw;
}

#contenedor_boton_iniciar_sesion_desactivado {
    display: none;
}


/* Carrito de compras */

#contenedor_carrito_compras_desactivado {
    display: none;
}


/* Foto de perfil del usuario */

#contenedor_foto_perfil_usuario_desactivado {
    display: none;
}


@media (min-width: 500px) {
    #contenedor_logo_barra_navegacion {

    }

    #barra_busqueda {

    }

    #contenedor_categorias_barra_navegacion {

    }

    #contenedor_boton_iniciar_sesion {
        
    }
}